@import url("file:///home/$USER/.cache/wal/colors.css");

window {
  margin: 0px;
  border: 1px solid @color1;
  border-radius: 12px;
  background-color: rgba(25, 28, 34, 0.8);
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  color: @foreground;
}

#input {
  margin: 8px;
  border-radius: 8px;
  padding: 6px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: @foreground;
}

#inner-box {
  margin: 8px;
}

#entry {
  border-radius: 8px;
  padding: 6px;
  margin: 4px 0;
}

#entry:selected {
  background-color: @color2;
  color: @background;
}

#img {
  margin-right: 8px;
}
